/* --------------------------------------
COLOR PALETTE WITH CSS VARIABLES
----------------------------------------- */   

:root {
    --main-bg-color: rgb(0, 0, 0);
    --main-fg-color: rgb(182, 195, 207);
    --titles-color: #a8a8a8;
    --bodytext-color: #ffffff;
  }
  
 body {
     background-color: var(--main-bg-color);
     color: var(--bodytext-color);
     font-family: 'Oswald', sans-serif, Arial, Helvetica, sans-serif;
     font-size: 25px;
     
    }
 
 h1,h2,h3,h4,h5,h6 {
     font-family: 'Supermercado One', cursive, "Helvetica Neue", "Helvetica", "Arial";
 }

 h1{
   font-size: 3em;
   text-align: center;
 }


/* --------------------------------------
  RESPONSIVE IMAGES
----------------------------------------- */  

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}



 

figure {

    margin: 1rem;
    padding: 1rem;
    position: relative;
}

figcaption {
    margin: 0.75rem 0 0 0;
    position: absolute;
    left: 0.75;
    bottom: 0.75;
    text-align: center;
}

.home a {
width: 3rem;
height: 3rem;
display: block;
margin: 2em auto;

}




/* --------------------------------------
   DEFAULT STYLES GO HERE
----------------------------------------- */   




/* --------------------------------------
   MEDIA QUERIES FOR LARGER VIEWPORTS
----------------------------------------- */   

/* No media query for "extra small" since this is the default  
   The following media query sizes are taken from Bootstrap 5
   See: https://getbootstrap.com/docs/5.1/layout/breakpoints/
   and: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/


@media only screen and (min-width: 466px) { 

main.thumbs figure {

width: 434px;
margin: 1rem auto 2rem auto; 

}
       
}


@media only screen and (min-width: 576px) { 
       
}



/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 918px) {
    main.thumbs {
        display: grid;
        padding: 0;
        grid-template-columns: 434px 434px;
        grid-column-gap: 1rem;

        width: 886px;
        margin: 1rem auto;
    }
    
}





/* LAPTOPS AND DESKTOPS CAN BE REGULAR OR RETINA DISPLAY  */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  }


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


  @media (min-width: 1368px) {

    main.thumbs {
      grid-template-columns: 434px 434px 434px;
      grid-column-gap: 1rem;
      width: 1336px; 
  }
  
    }


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  }
